@model IEnumerable<DietBuilder.Models.Recipe.RecipeListItem>

@{
	ViewData["Title"] = "Recipes";
}

<h1>Recipes</h1>
<p>
	<a asp-action="Create">Make a new recipe</a>
</p>

@if (Model.Any())
{
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var recipe in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(recipeItem => recipe.Name)
					</td>
					<td>
						<a asp-action="Details" asp-route-id=@recipe.Id>Details</a> |
						<a asp-action="Edit" asp-route-id=@recipe.Id>Edit</a> |
						<a asp-action="Delete" asp-route-id=@recipe.Id>Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<span>There are currently no recipes available</span>
}